* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    position: relative;
}

.container, .board .box, .turns {
    display: flex;
}


.container {
    position: absolute;
    border: 1px solid black;
    top: 50px;
    left: 50%;
    transform: translate(-50%, 10%);
    width: 700px;
    height: 500px;
}

.board-wrapper {
    width: 80%;
}

.turns {
    border: 1px solid black;
    height: 20%;
    justify-content: space-between;
    padding: 1.2rem;
}

.turns div {
    font-size: 5rem;
}


.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 80%;
    /* gap: 10px; */
}

.board .box {
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    /* background-color: black; */
}

.functionality {
    padding: 1.5rem;
}

.setting {
    padding-left: .2rem;
    padding-right: .2rem;
    width: 12.5rem;
    margin-top: 1.2rem; 
    font-size: 1.5rem;
}

.winner {
    text-align: center; 
    margin-top: 3rem;   
    font-size: 3rem; 
}